@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.outer {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  padding: 50px;
  background-color: rgba(colors.$GRAY6, 40%);
  animation: fadeIn 300ms;

  .inner {
    width: 100%;
    padding: 30px;
    background-color: colors.$WHITE;
    border-radius: 20px;
  }
}

.fadeOut {
  animation: fadeOut 300ms;
}
