@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.outer {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  padding: 50px;
  background-color: rgba(colors.$GRAY6, 40%);
  animation: fadeIn 300ms;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 30px;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .message {
      text-align: center;
      word-break: keep-all;
    }

    .buttonWrap {
      display: flex;
      gap: 30px;
      justify-content: space-around;

      button {
        width: 50px;
        height: 30px;
        font-size: 14px;
        color: colors.$WHITE;
        border-radius: 15px;
      }

      .okBtn {
        background-color: #3186d6;
      }

      .cancleBtn {
        background-color: #f27574;
      }
    }
  }
}
