@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.search {
  @include flexbox.flexbox(center, center);
  position: sticky;
  top: 20px;
  box-sizing: border-box;
  gap: 10px;
  height: 40px;
  padding: 0 10px;
  background-color: rgba(colors.$WHITE, 10%);
  border: 1px solid colors.$GRAYD;
  border-radius: 15px;
  backdrop-filter: blur(10px);

  input {
    flex: 1;
  }

  button {
    height: 26px;
  }
}
