@use '/src/styles/constants/sizes';
@use '/src/styles/constants/colors';

.gnb {
  position: fixed;
  bottom: 0;
  width: 430px;
  height: sizes.$GNB;
  background-color: colors.$WHITE;
  border-top: 1px solid colors.$GRAYE;

  ul {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  li {
    flex: 1;
    line-height: sizes.$GNB;
    color: colors.$GRAY6;
    text-align: center;
  }

  .isActive {
    color: colors.$BLACK;
    transition: 500ms;
  }
}
